# --- System & IDE ---
.DS_Store
.vscode/
.idea/

# --- Python & Virtual Env ---
__pycache__/
*.py[cod]
.venv/
env/
venv/
*.egg-info/

# --- Jupyter Lab ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*.log
data/

# --- Data Engineering Lab (Massive Files) ---
# We track the code to generate data, never the data itself.
pg_data/            # Postgres persistent volume mapping

# --- MkDocs (The Textbook) ---
site/               # The generated static HTML folder
.cache/             # MkDocs cache

# --- Environment Secrets ---
.env
site*
